.tours {
  &-container {
    margin: 0 auto;
    padding: 105px 40px 210px 40px;
    max-width: 1920px;
  }
  &__header {
    font-size: 48px;
    font-weight: 700;
    line-height: 80%;
    margin-left: 260px;
    .orange {
    color: $orange-color;
    }
  }
  &__subheader {
    font-size: 36px;
    font-weight: 400;
    line-height: 80%;
    margin-top: 20px;
    margin-left: 260px;
  }
  &__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 68px;
  }
  &__item {
    position: relative;
    max-width: 406px;
    max-height: 639px;
    border-radius: 40px;
    box-shadow: 8px 8px 10px rgba(#619EDB, 0.6);
    padding: 16px;
    cursor: pointer;
    &-label {
      position: absolute;
      background-color: $orange-color;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      width: 132px;
      height: 74px;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 25px 0;
      top: 12px;
      left: 10px;
    }
    &-img {
      max-width: 100%;
      height: auto;
      border-radius: 40px;
      margin: 0 auto;
    }
    &-title {
      font-size: 20px;
      font-weight: 700;
      margin-top: 22px;
      margin-left: 4px;
      text-transform: uppercase;
    }
    &-place {
      position: relative;
      font-size: 20px;
      font-weight: 700;
      margin-top: 9px;
      padding-left: 34px;
      &:before {
        position: absolute;
        content: url("../../assets/icons/airplane-search.svg");
        display: block;
        left: 4px;
        width: 23px;
        height: 24px;
      }
    }
    &-date {
      position: relative;
      font-size: 20px;
      font-weight: 700;
      margin-top: 9px;
      padding-left: 34px;
      color: $orange-color;
      &:before {
        position: absolute;
        content: url("../../assets/icons/calendar-clock.svg");
        display: block;
        left: 2px;
        width: 23px;
        height: 24px;
      }
    }
  }
  &-modal {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 1014px;
    background-color: #fff;
    z-index: 100;
    padding: 30px 55px;
    &__date {
      position: relative;
      font-size: 20px;
      font-weight: 400;
      color: $blue-color;
      text-align: end;
      &:before {
        position: absolute;
        content: url("../../assets/icons/calendar-modal.svg");
        right: 128px;
        top: -7px;
        width: 34px;
        height: 34px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 75px;
    }
    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 100px;
      color: $orange-color;
      text-align: center;
    }
    &__list {
      list-style: none;
      margin-top: 20px;
      padding-left: 30px;
      li {
        position: relative;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
        &:before {
          position: absolute;
          content: url("../../assets/icons/arrow-tours.svg");
          left: -40px;
          top: -4px;
          width: 34px;
          height: 34px;
        }
      }
    }
    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      gap: 30px;
      margin-top: 43px;
    }
    &__price {
      font-size: 20px;
      margin-top: 10px;
      .price-title {
        font-weight: 700;
        color: $orange-color;
      }
      .price-value {
        font-weight: 400;
        color: #000;
      }
      &-info {
        font-size: 15px;
        font-weight: 700;
        color: #000;
        text-transform: lowercase;
        margin-top: 5px;
      }
    }
    &__include {
      &-title {
        font-size: 20px;
        font-weight: 700;
        color: #000;
      }
      &-list {
        list-style: none;
        margin-top: 3px;
        li {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 3px;
        }
      }
    }
    &__flight {
      position: relative;
      font-size: 20px;
      font-weight: 700;
      color: $blue-color;
      text-align: end;
      &:before {
        position: absolute;
        content: url("../../assets/icons/airplane.svg");
        right: 185px;
        top: -2px;
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tours__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
